name: Build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: tiogars/maven-build-action@v1.0.3
        with:
          setup-java-server-username: ${{ github.actor }}
          setup-java-server-password: ${{ secrets.GITHUB_TOKEN }}