name: Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: tiogars/maven-release-action@v1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}